#include <iostream>
using namespace std;

int main ()
{
	int counter = 0;
	double max;
	double num;

	cout << "Enter 15 numbers. Enter the first number: ";
	cin >> max;
	for (counter = 0 ; counter < 15; counter++)
	{
	cout << "Enter the next number: ";
	cin >> num;

	if (max < num)
		max = num;

	}
	cout << "The largest number is: " << max << endl;}
